<!DOCTYPE html PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
<html>
<head>
  <meta content="text/html; charset=ISO-8859-1"
 http-equiv="content-type">
  <title>Bluetooth Discover ECT component</title>
</head>
<body>
<h4>Bluetooth Discover</h4>
This component uses Windows BluetoothAPI to provide a list of bluetooth
devices in range.<br>
It can only detect (a) unauthenticated bluetooth devices with discovery
enabled, and (b) devices that have already been authenticated with the
machine that it is running on.<br>
Note that bluetooth discovery and connection timeouts are both
relatively slow (of the order of 5-10 seconds).<br>
<h5>Requirements</h5>
Requires a Bluetooth radio on the machine that it runs on :-)<br>
Requires Windows. May require WindowsXP and service pack 2 (SP2) to
run. Probably requires WindowsXP and SP2 and Microsoft Platform SDK to
recompile the native DLL.<br>
<h5>Usage</h5>
<ul>
  <li>set the <span style="font-family: monospace;">pollinterval </span>property
to adjust the target poll rate (e.g. in range 20-120 seconds); the
bluetooth discovery time is set to approximately half of the <span
 style="font-family: monospace;">pollinterval</span>; at short timeout
discovery will find random subsets of the devices in range on each poll.<br>
  </li>
  <li>set the <span style="font-family: monospace;">active </span>property
to <span style="font-family: monospace;">true </span>to cause polling
to occur.</li>
  <li>the <span style="font-family: monospace;">pollcount </span>property
will increment after each attempted poll (to show liveness)</li>
  <li>the <span style="font-family: monospace;">status </span>property
will give some indication of status and (low-level) failure, e.g. lack
of bluetooth device</li>
  <li>the <span style="font-family: monospace;">devices </span>property
is a comma-separated list of addresses of bluetooth devices discovered
or connectable in the last poll. Addresses are in the form <span
 style="font-family: monospace;">12:34:56:78:9a:bc</span>.<br>
  </li>
</ul>
<h5>Usage 2</h5>
<ul>
  <li>in addition (optionally) set the <span
 style="font-family: monospace;">watchfor </span>property to a
comma-separated list of bluetooth addresses of interest.</li>
  <li>the component will create a dynamic property for each such
address (property name is address with ':' mapped to '_').</li>
  <li>the dynamic property's type is <span
 style="font-family: monospace;">boolean, </span>and true indicates
that the device was observed in the last poll.</li>
  <li>[check editor support for dynamic properties; if necessary
restart the editor after setting the watchfor property]<br>
  </li>
</ul>
<br>
</body>
</html>
